<h1>Triangular!</h1>

<form action="/results">
  <div class="form-group">
    <label for="side_moe">How long is the first side?</label>
    <input id="side_moe" name="side_moe" class="form-control" type="number">
  </div>
  <div class="form-group">
    <label for="side_larry">How long is the second side?</label>
    <input id="side_larry" name="side_larry" class="form-control" type="number">
  </div>
  <div class="form-group">
    <label for="side_curly">How long is the third side?</label>
    <input id="side_curly" name="side_curly" class="form-control" type="number">
  </div>
  <button type="submit" class="btn-success">Triangulate!</button>
</form>
